{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<style>
   .page__body-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
   }
   
   .app__header__area,
   .progress-wrap.active-progress,
   .expovent__sidebar {
      display: none !important;
   }
</style>
{% endblock %}

{% block content %}

      <section class="signin__area">
         <div class="sign__main-wrapper">
            <div class="sign__left">
               <div class="sign__header">
                  <div class="sign__logo">
                     <a href="{% url 'users:home' %}">
                        <img class="logo-black" src="{% static 'img/logo/logo-black.png' %}" alt="image not found">
                        <img class="logo-white" src="{% static 'img/logo/logo.png' %}" alt="image not found">
                     </a>
                  </div>
                  <div class="sign__link">
                     <a class="sign__link-text" href="{% url 'users:signin' %}">Sign in</a>
                     <a class="sign__link-text" href="{% url 'users:signup' %}">Sign Up</a>
                  </div>
               </div>
               {% if validlink %}
               <div class="sign__center-wrapper text-center mt-90">
                  <div class="sign__title-wrapper mb-40">
                     <h3 class="sign__title">Set A New Password</h3>
                     <p>Go ahead and reset your password by settint a new one</p>
                  </div>
                  <div class="sign__input-form text-center">
                     <form method="post">
                        {% csrf_token %}
                        <div class="sign__input">
                           {{ form.new_password1 }}
                           {% for error in form.new_password1.errors %}
                              <p class="error-message">{{ error }}</p>
                           {% endfor %}
                           <span><i class="flaticon-password"></i></span>
                        </div>
                        <div class="sign__input">
                           {{ form.new_password2 }}
                           {% for error in form.new_password2.errors %}
                              <p class="error-message">{{ error }}</p>
                           {% endfor %}
                           <span><i class="flaticon-password"></i></span>
                        </div>
                        <div class="sing__button mb-20">
                           <button class="input__btn w-100 mb-20" type="submit">Reset Password</button>
                           
                        </div>
                     </form>
                  </div>
               </div>
               {% else %}
               <p class="text-danger">Invalid or Expired Link... Confirm the link or <a href="{% url 'password_reset' %}">generate a new one</a> and try again</p>
               {% endif %}
            </div>
            <div class="sign__right">
               <div class="sign__input-thumb" data-background="{% static 'img/sign/signin.jpg' %}">
               </div>
            </div>
         </div>
      </section>
      <!-- signin area end -->
   
   {% endblock %}