{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<style>
   .page__body-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
   }
   
   .app__header__area,
   .progress-wrap.active-progress,
   .expovent__sidebar {
      display: none !important;
   }
</style>
{% endblock %}

{% block content %}

      <section class="signin__area">
         <div class="sign__main-wrapper">
            <div class="sign__left">
               <div class="sign__header">
                  <div class="sign__logo">
                     <a href="{% url 'users:home' %}">
                        <img class="logo-black" src="{% static 'img/logo/logo-black.png' %}" alt="image not found">
                        <img class="logo-white" src="{% static 'img/logo/logo.png' %}" alt="image not found">
                     </a>
                  </div>
                  <div class="sign__link">
                     <a class="sign__link-text" href="{% url 'users:signin' %}">Sign in</a>
                     <a class="sign__link-text" href="{% url 'users:signup' %}">Sign Up</a>
                  </div>
               </div>
               <div class="sign__center-wrapper text-center mt-90">
                  <div class="sign__title-wrapper mb-40">
                     <h3 class="sign__title">Check Your Inbox</h3>
                     <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                  </div>
               </div><div class="if__account mt-85">
                  <p><a href="{% url 'users:home' %}"> Back to Dashboard</a></p>
               </div>
            </div>
            <div class="sign__right">
               <div class="sign__input-thumb" data-background="{% static 'img/sign/signin.jpg' %}">
               </div>
            </div>
         </div>
      </section>
      <!-- signin area end -->
   
   {% endblock %}