.dlabnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.user__content {
    margin-right: 1em;
}

.scroll-w-1.card__scroll {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.basic__pagination ul li:last-child {
    margin-inline-start: 0px;
}
.schedule__blog-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event__venue-card {
    height: calc(100% - 20px);
}
.event__venue-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.attendant__wrapper table > :not(caption) > * > * {
    border-radius: 0 !important;
}
.speaker__list-item {
    height: calc(100% - 30px);
}
.speaker__list-content-inner {
    align-items: flex-start;
}
.speaker__list-social {
    flex-direction: column;
}
.venue-event-image img {
    margin-top: 1em;
    max-width: 100%;
}

.flaticon-loupe {
    color: #000 !important;
}

.upcoming-events span {
    color: #000 !important;
}